# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Ambientes Virtuais (MUITO IMPORTANTE)
.venv/
venv/
env/
ENV/
*.env
.env

# Arquivos de IDE
.vscode/
.idea/

# Saídas (como seu gráfico interativo)
*.html

# Exceções (Arquivos que EU QUERO versionar)
!grafico_backcasting_interativo_k1lags_full.html